%% -*- Erlang -*-
%%============================================================================
{plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{deps, [{rebar, ".*", {git, "git@github.com:erlang/rebar3.git", {tag, "3.3.1"}}},
        {proper, ".*", {git, "https://github.com/proper-testing/proper", "HEAD"}}]}.

{erlydtl_opts,  [{custom_tags_modules, [nifty_tags]},
								 {custom_filters_modules, [nifty_filters]},
								 {auto_escape, false},
                 {compiler_options, [debug_info]},
                 {source_ext, ".tpl"},
                 {recursive, false},
								 {force_recompile, true},
                 {module_ext, "_nifty_template"}
                ]}.

{provider_hooks,
 [{pre, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
         {"(freebsd)", compile, "gmake -C c_src"}
        ]},
  {post, [{compile, {erlydtl, compile}},
          {"(linux|darwin|solaris)", clean, "make -C c_src clean"},
          {"(freebsd)", clean, "gmake -C c_src clean"}]}]}.
