%% -*- Erlang -*-
%%============================================================================
{deps, [{rebar, "3.5.2"},
        {proper, "1.2.0"}]}.

{plugins, [rebar3_hex, {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}]}.

{erlydtl_opts,  [{custom_tags_modules, [nifty_tags]},
                 {custom_filters_modules, [nifty_filters]},
                 {auto_escape, false},
                 {compiler_options, [debug_info]},
                 {source_ext, ".tpl"},
                 {recursive, false},
                 {force_recompile, true},
                 {module_ext, "_nifty_template"}
                ]}.

{provider_hooks,
 [{post, [{compile, {erlydtl, compile}}]}]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{dialyzer, [{warnings, [unmatched_returns, underspecs]},
            {base_plt_location, "cache/"},
            {base_plt_apps, [erts,
                             kernel,
                             stdlib,
                             compiler,
                             crypto,
                             syntax_tools,
                             tools]}]}.
