{port_env, [{".*", "CC", "clang"}]}.

{port_specs, [
	{".*", "priv/clang_parse.so", ["c_src/clang_parse.c"], [{env,[
		{"CFLAGS", "$CFLAGS -I/usr/lib/llvm-3.4/include/"},
		{"LDFLAGS", "$LDFLAGS -L/usr/lib/llvm-3.4/lib/ -lclang"}]}]},
	{"priv/nifty.so", ["c_src/nifty.c"]}
	]}.

{deps, [
	{rebar, "2.*", {git, "https://github.com/rebar/rebar.git", "8b7f544"}} %% locked on release version 2.1 
	]}.

% {compile_post_script,
% 	"sh -c ‘if [ -f \"priv/nifty_compile_templates.erl\" ];then escript ./priv/nifty_compile_templates.erl;fi’"}.

{post_hooks,
	[{compile, "escript ./priv/nifty_compile_templates.erl"}]}.

